.App {
  text-align: center;
}
.contador{
  background-color: yellowgreen;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  
}
.icon{
  background-color: orangered;
  color: beige;
  font-size: 30px;
}
.row{
  display: flex;
  flex-direction: row;
}

